#miId {
    background-color: yellow;
}
.Lorem{
    max-width: 30%;
}
span {
    color: blue
}

body {
    background-color: rgba(255, 255, 255, 0.973);
}

h3.DivMenu {
    margin:0px;
    padding-top: 15px;
    padding-bottom: 15px;
    display:inline-block;
    color:white;
    padding-left: 30px;
    padding-right: 30px;
}
h3.DivMenu:hover{
    background-color:black;
    color:white;
    cursor: pointer;
}
h3.DivMenu:active{
    background-color: blue;
}
.DivMenu{
    background-color:rgb(104, 104, 104);    
    padding-left: auto;
    padding-right: auto;
}
.SubTittle{
    padding-top:30px;
    float: right;
    color: blue;
    margin: 0px;
}
div.Title {
    margin-right: auto;
    display: block;
}

h1.Title {
    
    position: relative;
    color: blue;
    font-size: 300%;
    margin: 0px;
    display: inline-block;
}
tbody{
    background-color:lightblue;
}
thead{
    color:white;
    background-color:rgb(204, 0, 255);
}
table{
    border:2px;
    background-color: white;
}
td{
    border:10px;
}
div.TablaMaterias{
    position: relative;
	width:100%;
	text-align: center;
}